NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LEMONSQUEEZY_WEBHOOK_SECRET=
LEMONSQUEEZY_API_KEY=
IP_HASH_SALT=
NEXT_PUBLIC_FREE=137
NEXT_PUBLIC_STARTER=100000
NEXT_PUBLIC_PRO=1000000